@font-face {
  font-family: 'JetBrains Mono';
  src: local('JetBrains Mono Regular'),
    local('JetBrainsMono-Regular'),
    url('~@/assets/fonts/JetBrainsMono-Regular.woff') format('woff'),
    url('~@/assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: local('JetBrains Mono Bold'),
    local('JetBrainsMono-Bold'),
    url('~@/assets/fonts/JetBrainsMono-Bold.woff') format('woff'),
    url('~@/assets/fonts/JetBrainsMono-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Brutal Type';
  src: local('Brutal Type'),
    url('~@/assets/fonts/BrutalType/brutal-type-regular.woff2') format('woff2'),
    url('~@/assets/fonts/BrutalType/brutal-type-regular.woff') format('woff');

  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Brutal Type';
  src: local('Brutal Type Medium'),
    url('~@/assets/fonts/BrutalType/brutal-type-medium.woff2') format('woff2'),
    url('~@/assets/fonts/BrutalType/brutal-type-medium.woff') format('woff');

  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Brutal Type';
  src: local('Brutal Type Bold'),
    url('~@/assets/fonts/BrutalType/brutal-type-bold.woff2') format('woff2'),
    url('~@/assets/fonts/BrutalType/brutal-type-bold.woff') format('woff');

  font-style: normal;
  font-weight: 700;
}
