// Icons

.logo-icon {
  padding-top: 0;
  padding-bottom: 0;
  flex: 1 0 auto;
  img {
    max-height: 3.25rem;
    width: auto;
    margin: auto;
  }
}

.icon {
  margin-right: 0.2em;
  svg {
    width: 100%;
    height: auto;
    fill: currentColor;
  }
}
