// Typography
:root * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

// Headers
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
}

body,
textarea,
select,
input {
  font-family: 'BrutalType';
}

// Global styles
pre,
code,
.code {
  background: $light-grey;
  color: $dark-grey;
  padding: 1em;
  white-space: normal;
  word-wrap: break-word;
  font-family: 'JetBrains Mono', 'Lucida Console', 'Courier New', monospace;
}
