// Typography

// Headers
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
}

// Global styles
code,
.code {
  background: $light-grey;
  color: $dark-grey;
  padding: 1em;
  white-space: normal;
  word-wrap: break-word;
  font-family: 'Lucida Console', 'Courier New', monospace;
}
